
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-head_agile_info_w3l">
    <div class="container">
        <h3>Về chúng tôi <span> </span></h3>
        <!--/w3_short-->
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">

                <ul class="w3_short">
                    <li><a href="/home">Trang chủ</a><i>|</i></li>
                    <li>Giới thiệu</li>
                </ul>
            </div>
        </div>
        <!--//w3_short-->
    </div>
</div>
<!-- /banner_bottom_agile_info -->
<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="agile_ab_w3ls_info">
            <div class="col-md-6 ab_pic_w3ls">
                <img src="~/Assets/Client/images/ab_pic.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="col-md-6 ab_pic_w3ls_text_info">
                <h5>Một chút về <span> BigBoss Shop</span> </h5>
                <p>
                    Chào mừng bạn đến với "BigBoss Shop" - điểm đến lý tưởng cho những người đam mê thời trang và đang tìm kiếm sự độc đáo trong phong cách cá nhân. Tại cửa hàng chúng tôi,
                    chúng tôi tự hào giới thiệu một bộ sưu tập đa dạng và phong phú với những mẫu hàng chất lượng cao.
                </p>
                <p>
                    Hãy để "BigBoss Shop" trở thành đối tác đồng hành trong hành trình phát triển phong cách cá nhân của bạn. Chúng tôi hy vọng sẽ mang đến cho bạn trải nghiệm mua sắm thú
                    vị và không ngừng được trải nghiệm những xu hướng thời trang mới nhất.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="banner_bottom_agile_info_inner_w3ls">
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <figure class="effect-roxy">
                    <img src="~/Assets/Client/images/bottom1.jpg" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><span>T</span>hời Trang</h3>
                        <p>Sang Trọng</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                <figure class="effect-roxy">
                    <img src="~/Assets/Client/images/bottom2.jpg" alt=" " class="img-responsive" />
                    <figcaption>
                        <h3><span>P</span>hụ Kiện</h3>
                        <p>Bắt Mắt</p>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- team -->
<div class="banner_bottom_agile_info team">
    <div class="container">
        <h3 class="wthree_text_info">Thành Viên  <span>Quản Trị</span></h3>
        <div class="inner_w3l_agile_grids">
            <div class="col-md-3 team-grids">
                <div class="thumbnail team-w3agile">
                    <img src="~/Assets/Client/images/pan-da.png" class="img-responsive" alt="">
                    <div class="social-icons team-icons right-w3l fotw33">
                        <div class="caption">
                            <h4>Panda Bụng Bự</h4>
                            <p>Thêm Mô Tả Ngắn</p>
                        </div>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest">
                                    <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team-grids">
                <div class="thumbnail team-w3agile">
                    <img src="~/Assets/Client/images/ami-r.png" class="img-responsive" alt="">
                    <div class="social-icons team-icons right-w3l fotw33">
                        <div class="caption">
                            <h4>Ami Thân Thiện</h4>
                            <p>Thêm Mô Tả Ngắn</p>
                        </div>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest">
                                    <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team-grids">
                <div class="thumbnail team-w3agile">
                    <img src="~/Assets/Client/images/corgi-r.png" class="img-responsive" alt="">
                    <div class="social-icons team-icons right-w3l fotw33">
                        <div class="caption">
                            <h4>Corgi Ngáo</h4>
                            <p>Thêm Mô Tả Ngắn</p>
                        </div>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest">
                                    <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 team-grids">
                <div class="thumbnail team-w3agile">
                    <img src="~/Assets/Client/images/tom.png" class="img-responsive" alt="">
                    <div class="social-icons team-icons right-w3l fotw33">
                        <div class="caption">
                            <h4>Tom Hay Ho</h4>
                            <p>Thêm Mô Tả Ngắn</p>
                        </div>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest">
                                    <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //team -->
<!-- schedule-bottom -->
<div class="schedule-bottom">
    <div class="col-md-6 agileinfo_schedule_bottom_left">
        <img src="~/Assets/Client/images/mid.jpg" alt=" " class="img-responsive" />
    </div>
    <div class="col-md-6 agileits_schedule_bottom_right">
        <div class="w3ls_schedule_bottom_right_grid">
            <h3>Chào đón sự kiện <span> sale 50%</span> tất cả sản phẩm</h3>
            <p>
                Sự kiện khuyến mãi lớn nhất năm , quy tụ nhiều sản phẩm mới và nhiều thiết kế mới , với mẫu mã đa dạng . Thỏa thích mua sắm 
            </p>
            <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <h4>Thành Viên</h4>
                <h5 class="counter">62.350</h5>
            </div>
            <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <h4>Sự Kiện</h4>
                <h5 class="counter">23</h5>
            </div>
            <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                <i class="fa fa-shield" aria-hidden="true"></i>
                <h4>Giải Thưởng</h4>
                <h5 class="counter">4.500</h5>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //schedule-bottom -->
<!-- banner-bootom-w3-agileits -->
<!--/grids-->
<!--/grids-->
<!-- /we-offer -->
<div class="sale-w3ls">
    <div class="container">
        <h6>Giảm Giá  <span>40%</span> Tất Cả Các Mặt Hàng</h6>

        <a class="hvr-outline-out button2" href="/home">Mua Sắm Ngay </a>
    </div>
</div>

