<connectionStrings>
	<clear />
	<add name="ShopDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=TOANLEE;Initial Catalog=ShopEcommerce;Integrated Security=False;User Id=sa;Password=354503;MultipleActiveResultSets=True" />
	<add name="LocalSqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=TOANLEE;Initial Catalog=ShopEcommerce;Integrated Security=False;User Id=sa;Password=354503;MultipleActiveResultSets=True" />
</connectionStrings>
