<style>
    .panel-heading strong {
        font-size: 30px; /* Đặt kích thước font theo nhu cầu của bạn */
    }
</style>

<section class="panel">
    <header class="panel-heading">
        <strong><font color="orange"> TRANG THÊM MỚI DANH MỤC SẢN PHẨM</font></strong>
    </header>
    <div class="panel-body">
        <div class="position-center">
            <form role="form" novalidate name="frmAddProductCategory" ng-submit="AddProductCategory()">
                <div class="form-group">
                    <label for="productName"><font color="green">TÊN DANH MỤC</font></label>
                    <input type="text" class="form-control" required name="name" ng-change="autoGetSeoTitle()" ng-model="productcategory.Name">
                </div>
                <div class="form-group">
                    <label for="seoTitle"><font color="green">TIÊU ĐỀ SEO</font></label>
                    <input type="text" class="form-control" name="alias" ng-model="productcategory.Alias">
                </div>
                <div class="form-group">
                    <label for="seoTitle"><font color="green">MÔ TẢ NGẮN</font></label>
                    <textarea class="form-control " ckeditor="ckeditorOptions" name="description" ng-model="productcategory.Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="seoTitle"><font color="green">DANH MỤC CHA</font></label>
                    <select  name="prentid" class="form-control" ng-options="option.ID as option.Name for option in parentCategory "  ng-model="productcategory.ParentID">Danh Mục Cha
                    <option value="">Danh mục gốc </option>
                    </select>
                    <input type="hidden" ng-model="productcategory.ParentID"/>
                </div>
                <div class="form-group">
                    <label for="seoTitle"><font color="green">THỨ TỰ HIỂN THỊ</font></label>
                    <input type="number" class="form-control" name="displayorder" ng-model="productcategory.DisplayOrder">
                </div>
                <div class="form-group">
                    <label for="seoTitle"><font color="green">THÊM HÌNH ẢNH</font></label>
                    <input type="text" class="form-control" name="image" ng-model="productcategory.Image">
                    <button class="btn btn-default" type="button" ng-click="ChoseImage()">Chọn Ảnh</button>
                </div>
                <!--trạng thái-->
                <div><strong><font color="red">Tích vào nếu danh mục này đang hoạt động</font></strong></div>
                <div class="form-group">
                    <label for="statusCheckbox"><font color="green">Trạng thái</font></label>
                    <input type="checkbox"  name="status" ng-checked="productcategory.Status" ng-model="productcategory.Status">
                </div>
                <!-- Thêm các trường khác theo cấu trúc tương tự -->
                <div class="form-group">
                    <div class="col-sm-10">
                        <!-- Thêm nút submit hoặc các phần tử khác cần thiết -->
                        <button type="submit" class="btn btn-primary" >Thêm Mới</button>
                        <a href="#!/product_category" class="btn btn-danger">Hủy Thêm</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>